# Jupyter / ipynb
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Virtual env
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# Env and IDE
.env
.venv
.idea/
.vscode/
*.swp
*.swo
